<nav>
	<span>
		<button class="button-48" (click)="loadProject('http://localhost:4201')"><span class="text">Portfolio</span></button>
		<button class="button-48" (click)="loadProject('http://localhost:4202')"><span>Accenture Employee data</span></button>
		<button class="button-48" (click)="loadProject('http://localhost:4203')"><span>Components</span></button>
		<button class="button-48" (click)="loadProject('http://localhost:4204')"><span>Directives</span></button>
		<button class="button-48" (click)="loadProject('http://localhost:4205')"><span>Services</span></button>
		<button class="button-48" (click)="loadProject('http://localhost:4206')"><span>Http</span></button>
		<button class="button-48" (click)="loadProject('http://localhost:4207')"><span>Forms</span></button>
	</span>
</nav>
  
	<iframe [src]="currentProjectUrl" width="100%" height="1000px"></iframe>
  
