<nav>
	<span>
		<button class="button-66" (click)="loadProject('http://localhost:4201')">Portfolio</button>
		<button class="button-66" (click)="loadProject('http://localhost:4202')">Accenture Employee data</button>
		<button class="button-66" (click)="loadProject('http://localhost:4203')">Components</button>
		<button class="button-66" (click)="loadProject('http://localhost:4204')">Directives</button>
		<button class="button-66" (click)="loadProject('http://localhost:4205')">Services</button>
		<button class="button-66" (click)="loadProject('http://localhost:4206')">Http</button>
		<button class="button-66" (click)="loadProject('http://localhost:4207')">Forms</button>
	</span>
</nav>
  
	<iframe [src]="currentProjectUrl" width="100%" height="1000px"></iframe>
  
